.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  height: 760px;
  margin: auto;
  background: white;
}

.pixel {
  background: white;
  outline: solid 1px black;
  height: 20px; 
  width: 20px;
}
// Drawing
.canvas {
  // Top Border monitor
  :nth-child(159) {
    background: black;
  }
  :nth-child(160) {
    background: black;
  }
  :nth-child(161) {
    background: black;
  }
  :nth-child(162) {
    background: black;
  }
  :nth-child(163) {
    background: black;
  }
  :nth-child(164) {
    background: black;
  }
  :nth-child(165) {
    background: black;
  }
  :nth-child(166) {
    background: black;
  }
  :nth-child(167) {
    background: black;
  }
  :nth-child(168) {
    background: black;
  }
  :nth-child(169) {
    background: black;
  }
  :nth-child(170) {
    background: black;
  }
  :nth-child(171) {
    background: black;
  }
  :nth-child(172) {
    background: black;
  }
  :nth-child(173) {
    background: black;
  }
  :nth-child(174) {
    background: black;
  }
  :nth-child(175) {
    background: black;
  }
  :nth-child(176) {
    background: black;
  }
  :nth-child(177) {
    background: black;
  }
  :nth-child(178) {
    background: black;
  }
  :nth-child(179) {
    background: black;
  }
  :nth-child(180) {
    background: black;
  }
  :nth-child(181) {
    background: black;
  }
  :nth-child(182) {
    background: black;
  }
  :nth-child(183) {
    background: black;
  }
  :nth-child(184) {
    background: black;
  }
  :nth-child(185) {
    background: black;
  }
  :nth-child(186) {
    background: black;
  }
  :nth-child(187) {
    background: black;
  }
  :nth-child(188) {
    background: black;
  }
  :nth-child(189) {
    background: black;
  }
  :nth-child(190) {
    background: black;
  }
  :nth-child(191) {
    background: black;
  }
  :nth-child(192) {
    background: black;
  }
  // Left Border monitor
  :nth-child(228) {
    background: black;
  }  
  :nth-child(298) {
    background: black;
  }
  :nth-child(368) {
    background: black;
  }
  :nth-child(438) {
    background: black;
  }
  :nth-child(508) {
    background: black;
  }
  :nth-child(578) {
    background: black;
  }
  :nth-child(648) {
    background: black;
  }
  :nth-child(718) {
    background: black;
  }
  :nth-child(788) {
    background: black;
  }
  :nth-child(858) {
    background: black;
  }
  :nth-child(928) {
    background: black;
  }
  :nth-child(998) {
    background: black;
  }
  :nth-child(1068) {
    background: black;
  }
  :nth-child(1138) {
    background: black;
  }
  :nth-child(1208) {
    background: black;
  }
  :nth-child(1278) {
    background: black;
  }
  :nth-child(1348) {
    background: black;
  }
  :nth-child(1418) {
    background: black;
  }
  :nth-child(1488) {
    background: black;
  }
  :nth-child(1558) {
    background: black;
  }
  :nth-child(1628) {
    background: black;
  }
  :nth-child(1698) {
    background: black;
  }
  :nth-child(1768) {
    background: black;
  }
  :nth-child(1838) {
    background: black;
  }
  // Bottom Border 
  :nth-child(1908) {
    background: black;
  }
  :nth-child(1909) {
    background: black;
  }
  :nth-child(1910) {
    background: black;
  }
  :nth-child(1911) {
    background: black;
  }
  :nth-child(1912) {
    background: black;
  }
  :nth-child(1913) {
    background: black;
  }
  :nth-child(1914) {
    background: black;
  }
  :nth-child(1915) {
    background: black;
  }
  :nth-child(1916) {
    background: black;
  }
  :nth-child(1917) {
    background: black;
  }
  :nth-child(1918) {
    background: black;
  }
  :nth-child(1919) {
    background: black;
  }
  :nth-child(1920) {
    background: black;
  }
  :nth-child(1921) {
    background: black;
  }
  :nth-child(1922) {
    background: black;
  }
  :nth-child(1923) {
    background: black;
  }
  :nth-child(1924) {
    background: black;
  }
  :nth-child(1925) {
    background: black;
  }
  :nth-child(1926) {
    background: black;
  }
  :nth-child(1927) {
    background: black;
  }
  :nth-child(1928) {
    background: black;
  }
  :nth-child(1929) {
    background: black;
  }
  :nth-child(1930) {
    background: black;
  }
  :nth-child(1931) {
    background: black;
  }
  :nth-child(1932) {
    background: black;
  }
  :nth-child(1933) {
    background: black;
  }
  :nth-child(1934) {
    background: black;
  }
  :nth-child(1935) {
    background: black;
  }
  :nth-child(1936) {
    background: black;
  }
  :nth-child(1937) {
    background: black;
  }
  :nth-child(1938) {
    background: black;
  }
  :nth-child(1939) {
    background: black;
  }
  :nth-child(1940) {
    background: black;
  }
  :nth-child(1941) {
    background: black;
  }
  :nth-child(1942) {
    background: black;
  }
  :nth-child(1943) {
    background: black;
  }
  // Right Border monitor
  :nth-child(263) {
    background: black;
  }
  :nth-child(333) {
    background: black;
  }
  :nth-child(403) {
    background: black;
  }
  :nth-child(473) {
    background: black;
  }
  :nth-child(543) {
    background: black;
  }
  :nth-child(613) {
    background: black;
  }
  :nth-child(683) {
    background: black;
  }
  :nth-child(753) {
    background: black;
  }
  :nth-child(823) {
    background: black;
  }
  :nth-child(893) {
    background: black;
  }
  :nth-child(963) {
    background: black;
  }
  :nth-child(1033) {
    background: black;
  }
  :nth-child(1103) {
    background: black;
  }
  :nth-child(1173) {
    background: black;
  }
  :nth-child(1243) {
    background: black;
  }
  :nth-child(1313) {
    background: black;
  }
  :nth-child(1383) {
    background: black;
  }
  :nth-child(1453) {
    background: black;
  }
  :nth-child(1523) {
    background: black;
  }  
  :nth-child(1593) {
    background: black;
  }
  :nth-child(1663) {
    background: black;
  }
  :nth-child(1733) {
    background: black;
  }
  :nth-child(1803) {
    background: black;
  }
  :nth-child(1873) {
    background: black;
  }

  // Inner border top
  :nth-child(300) {
    background: black;
  } 
  :nth-child(301) {
    background: black;
  }
  :nth-child(302) {
    background: black;
  } 
  :nth-child(303) {
    background: black;
  }
  :nth-child(304) {
    background: black;
  }
  :nth-child(305) {
    background: black;
  }
  :nth-child(306) {
    background: black;
  }
  :nth-child(307) {
    background: black;
  } 
  :nth-child(308) {
    background: black;
  }
  :nth-child(309) {
    background: black;
  }
  :nth-child(310) {
    background: black;
  }
  :nth-child(311) {
    background: black;
  }
  :nth-child(312) {
    background: black;
  }
  :nth-child(313) {
    background: black;
  }
  :nth-child(314) {
    background: black;
  }
  :nth-child(315) {
    background: black;
  }
  :nth-child(316) {
    background: black;
  }
  :nth-child(317) {
    background: black;
  }
  :nth-child(318) {
    background: black;
  }
  :nth-child(319) {
    background: black;
  }
  :nth-child(320) {
    background: black;
  }
  :nth-child(321) {
    background: black;
  }
  :nth-child(322) {
    background: black;
  }
  :nth-child(323) {
    background: black;
  }
  :nth-child(324) {
    background: black;
  }
  :nth-child(325) {
    background: black;
  }
  :nth-child(326) {
    background: black;
  }
  :nth-child(327) {
    background: black;
  }
  :nth-child(328) {
    background: black;
  }
  :nth-child(329) {
    background: black;
  }
  :nth-child(330) {
    background: black;
  }
  :nth-child(331) {
    background: black;
  }
  // Inner Border Left
  :nth-child(370) {
    background: black;
  }
  :nth-child(440) {
    background: black;
  }
  :nth-child(510) {
    background: black;
  }
  :nth-child(580) {
    background: black;
  }
  :nth-child(650) {
    background: black;
  }
  :nth-child(720) {
    background: black;
  }
  :nth-child(790) {
    background: black;
  }
  :nth-child(860) {
    background: black;
  }
  :nth-child(930) {
    background: black;
  }
  :nth-child(1000) {
    background: black;
  }
  :nth-child(1070) {
    background: black;
  }
  :nth-child(1140) {
    background: black;
  }
  :nth-child(1210) {
    background: black;
  }
  :nth-child(1280) {
    background: black;
  }
  :nth-child(1350) {
    background: black;
  }
  :nth-child(1420) {
    background: black;
  }
  :nth-child(1490) {
    background: black;
  }
  :nth-child(1560) {
    background: black;
  }
  :nth-child(1630) {
    background: black;
  }
  :nth-child(1700) {
    background: black;
  }
  // Inner Border Bottom
  :nth-child(1701) {
    background: black;
  }
  :nth-child(1702) {
    background: black;
  }
  :nth-child(1703) {
    background: black;
  }
  :nth-child(1704) {
    background: black;
  }
  :nth-child(1705) {
    background: black;
  }
  :nth-child(1706) {
    background: black;
  }
  :nth-child(1707) {
    background: black;
  }
  :nth-child(1708) {
    background: black;
  }
  :nth-child(1709) {
    background: black;
  }
  :nth-child(1710) {
    background: black;
  }
  :nth-child(1711) {
    background: black;
  }
  :nth-child(1712) {
    background: black;
  }
  :nth-child(1713) {
    background: black;
  }
  :nth-child(1714) {
    background: black;
  }
  :nth-child(1715) {
    background: black;
  }
  :nth-child(1716) {
    background: black;
  }
  :nth-child(1717) {
    background: black;
  }
  :nth-child(1718) {
    background: black;
  }
  :nth-child(1719) {
    background: black;
  }
  :nth-child(1720) {
    background: black;
  }
  :nth-child(1721) {
    background: black;
  }
  :nth-child(1722) {
    background: black;
  }
  :nth-child(1723) {
    background: black;
  }
  :nth-child(1724) {
    background: black;
  }
  :nth-child(1725) {
    background: black;
  }
  :nth-child(1726) {
    background: black;
  }
  :nth-child(1727) {
    background: black;
  }
  :nth-child(1728) {
    background: black;
  }
  :nth-child(1729) {
    background: black;
  }
  :nth-child(1730) {
    background: black;
  }
  :nth-child(1731) {
    background: black;
  }
  // Inner Border Right
  :nth-child(401) {
    background: black;
  }
  :nth-child(471) {
    background: black;
  }
  :nth-child(541) {
    background: black;
  }
  :nth-child(611) {
    background: black;
  }
  :nth-child(681) {
    background: black;
  }
  :nth-child(751) {
    background: black;
  }
  :nth-child(821) {
    background: black;
  }
  :nth-child(891) {
    background: black;
  }
  :nth-child(961) {
    background: black;
  }
  :nth-child(1031) {
    background: black;
  }
  :nth-child(1101) {
    background: black;
  }
  :nth-child(1171) {
    background: black;
  }
  :nth-child(1241) {
    background: black;
  }
  :nth-child(1311) {
    background: black;
  }
  :nth-child(1381) {
    background: black;
  }
  :nth-child(1451) {
    background: black;
  }
  :nth-child(1521) {
    background: black;
  }
  :nth-child(1591) {
    background: black;
  }
  :nth-child(1661) {
    background: black;
  }

  // Socle monitor
  // left
  :nth-child(1990) {
    background: black;
  }
  :nth-child(2059) {
    background: black;
  }
  // right
  :nth-child(2001) {
    background: black;
  }
  :nth-child(2072) {
    background: black;
  }

  // Top Border Tower
  :nth-child(2110) {
    background: black;
  }
  :nth-child(2111) {
    background: black;
  }
  :nth-child(2112) {
    background: black;
  }
  :nth-child(2113) {
    background: black;
  }
  :nth-child(2114) {
    background: black;
  }
  :nth-child(2115) {
    background: black;
  }
  :nth-child(2116) {
    background: black;
  }
  :nth-child(2117) {
    background: black;
  }
  :nth-child(2118) {
    background: black;
  }
  :nth-child(2119) {
    background: black;
  }
  :nth-child(2120) {
    background: black;
  }
  :nth-child(2121) {
    background: black;
  }
  :nth-child(2122) {
    background: black;
  }
  :nth-child(2123) {
    background: black;
  }
  :nth-child(2124) {
    background: black;
  }
  :nth-child(2125) {
    background: black;
  }
  :nth-child(2126) {
    background: black;
  }
  :nth-child(2127) {
    background: black;
  }
  :nth-child(2128) {
    background: black;
  }
  :nth-child(2129) {
    background: black;
  }
  :nth-child(2130) {
    background: black;
  }
  :nth-child(2131) {
    background: black;
  }
  :nth-child(2132) {
    background: black;
  }
  :nth-child(2133) {
    background: black;
  }
  :nth-child(2134) {
    background: black;
  }
  :nth-child(2135) {
    background: black;
  }
  :nth-child(2136) {
    background: black;
  }
  :nth-child(2137) {
    background: black;
  }
  :nth-child(2138) {
    background: black;
  }
  :nth-child(2139) {
    background: black;
  }
  :nth-child(2140) {
    background: black;
  }
  :nth-child(2141) {
    background: black;
  }
  :nth-child(2142) {
    background: black;
  }
  :nth-child(2143) {
    background: black;
  }
  :nth-child(2144) {
    background: black;
  }
  :nth-child(2145) {
    background: black;
  }
  :nth-child(2146) {
    background: black;
  }
  :nth-child(2147) {
    background: black;
  }
  :nth-child(2148) {
    background: black;
  }
  :nth-child(2149) {
    background: black;
  }
  :nth-child(2150) {
    background: black;
  }
  :nth-child(2151) {
    background: black;
  }
  :nth-child(2152) {
    background: black;
  }
  :nth-child(2153) {
    background: black;
  }
  :nth-child(2154) {
    background: black;
  }
  :nth-child(2155) {
    background: black;
  }
  :nth-child(2156) {
    background: black;
  }
  :nth-child(2157) {
    background: black;
  }
  :nth-child(2158) {
    background: black;
  }
  :nth-child(2159) {
    background: black;
  }
  :nth-child(2160) {
    background: black;
  }
  :nth-child(2161) {
    background: black;
  }
  // Left Border Tower
  :nth-child(2180) {
    background: black;
  }
  :nth-child(2250) {
    background: black;
  }
  :nth-child(2320) {
    background: black;
  }
  :nth-child(2390) {
    background: black;
  }
  :nth-child(2460) {
    background: black;
  }
  :nth-child(2530) {
    background: black;
  }
  :nth-child(2600) {
    background: black;
  }
  // Right Border Tower
  :nth-child(2231) {
    background: black;
  }  
  :nth-child(2301) {
    background: black;
  } 
  :nth-child(2371) {
    background: black;
  } 
  :nth-child(2441) {
    background: black;
  } 
  :nth-child(2511) {
    background: black;
  }
  :nth-child(2581) {
    background: black;
  }
  :nth-child(2651) {
    background: black;
  }

  // 3D left
  :nth-child(2041) {
    background: black;
  }  
  :nth-child(1972) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1973) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1974) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1975) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1976) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1977) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1978) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1979) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1980) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1981) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1982) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1983) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1984) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1985) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1986) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1987) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1988) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(1989) {
    background: rgba(0, 0, 0, 0.75);
  }
  //3D right
  :nth-child(2090) {
    background: black;
  } 
  :nth-child(2019) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2018) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2017) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2016) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2015) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2014) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2013) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2012) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2011) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2010) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2009) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2008) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2007) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2006) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2005) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2004) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2003) {
    background: rgba(0, 0, 0, 0.75);
  }
  :nth-child(2002) {
    background: rgba(0, 0, 0, 0.75);
  }
  // Shadow
  // bottom
  :nth-child(2048) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2049) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2050) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2051) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2052) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2053) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2054) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2055) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2056) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2057) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2058) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2060) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2061) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2062) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2063) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2064) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2065) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2066) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2067) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2068) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2069) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2070) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2071) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2073) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2074) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2075) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2076) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2077) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2078) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2079) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2080) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2081) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2082) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(2083) {
    background: rgba(0, 0, 0, 0.25);
  }
  // top
  :nth-child(2000) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1999) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1998) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1997) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1996) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1995) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1994) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1993) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1992) {
    background: rgba(0, 0, 0, 0.25);
  }
  :nth-child(1991) {
    background: rgba(0, 0, 0, 0.25);
  }

  // Zip reader
  :nth-child(2323) {
    background: black;
  }  
  :nth-child(2324) {
    background: black;
  }
  :nth-child(2325) {
    background: black;
  }
  :nth-child(2326) {
    background: black;
  } 
  :nth-child(2327) {
    background: black;
  } 
  :nth-child(2328) {
    background: black;
  }
  :nth-child(2329) {
    background: black;
  }
  :nth-child(2330) {
    background: black;
  } 
  :nth-child(2331) {
    background: black;
  } 
  :nth-child(2332) {
    background: black;
  }
  :nth-child(2333) {
    background: black;
  } 
  :nth-child(2334) {
    background: black;
  } 
  :nth-child(2335) {
    background: black;
  } 
  :nth-child(2336) {
    background: black;
  }
  :nth-child(2338) {
    background: black;
  }
  // Card reader
  :nth-child(2463) {
    background: black;
  }   
  :nth-child(2464) {
    background: black;
  }
  :nth-child(2464) {
    background: black;
  }
  :nth-child(2465) {
    background: black;
  }
  :nth-child(2466) {
    background: black;
  }
  :nth-child(2467) {
    background: black;
  }
  :nth-child(2468) {
    background: black;
  }
  :nth-child(2469) {
    background: black;
  }
  :nth-child(2470) {
    background: black;
  }
  :nth-child(2471) {
    background: black;
  }
  :nth-child(2473) {
    background: black;
  }
  // CD reader
  // top
  :nth-child(2282) {
    background: black;
  }  
  :nth-child(2283) {
    background: black;
  }
  :nth-child(2284) {
    background: black;
  }
  :nth-child(2285) {
    background: black;
  }
  :nth-child(2286) {
    background: black;
  }
  :nth-child(2287) {
    background: black;
  }
  :nth-child(2288) {
    background: black;
  }
  :nth-child(2289) {
    background: black;
  }
  :nth-child(2290) {
    background: black;
  }
  :nth-child(2291) {
    background: black;
  }
  :nth-child(2292) {
    background: black;
  }
  :nth-child(2293) {
    background: black;
  }
  :nth-child(2294) {
    background: black;
  }
  :nth-child(2295) {
    background: black;
  }
  :nth-child(2296) {
    background: black;
  }
  :nth-child(2297) {
    background: black;
  }
  :nth-child(2298) {
    background: black;
  }
  //right
  :nth-child(2368) {
    background: black;
  }
  :nth-child(2438) {
    background: black;
  }
  :nth-child(2508) {
    background: black;
  }
  :nth-child(2578) {
    background: black;
  }
  // bottom
  :nth-child(2577) {
    background: black;
  }
  :nth-child(2576) {
    background: black;
  }
  :nth-child(2575) {
    background: black;
  }
  :nth-child(2574) {
    background: black;
  }
  :nth-child(2573) {
    background: black;
  }
  :nth-child(2572) {
    background: black;
  }
  :nth-child(2571) {
    background: black;
  }
  :nth-child(2570) {
    background: black;
  }
  :nth-child(2569) {
    background: black;
  }
  :nth-child(2568) {
    background: black;
  }
  :nth-child(2567) {
    background: black;
  }
  :nth-child(2566) {
    background: black;
  }
  :nth-child(2565) {
    background: black;
  }
  :nth-child(2564) {
    background: black;
  }
  :nth-child(2563) {
    background: black;
  }
  :nth-child(2562) {
    background: black;
  }
  // left
  :nth-child(2492) {
    background: black;
  }
  :nth-child(2422) {
    background: black;
  }
  :nth-child(2352) {
    background: black;
  }
  // button
  :nth-child(2435) {
    background: black;
  }  
  :nth-child(2436) {
    background: black;
  } 
}





