.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  height: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  background: transparent;
}

.pixel {
  background: transparent;
  // outline: solid 1px black;
  height: 20px; 
  width: 20px;
}
// Drawing
.canvas {
  // display: none;
  // Top Border monitor
  :nth-child(159), 
  :nth-child(160),
  :nth-child(161),
  :nth-child(162),
  :nth-child(163),
  :nth-child(164),
  :nth-child(165),
  :nth-child(166),
  :nth-child(167),
  :nth-child(168),
  :nth-child(169),
  :nth-child(170),
  :nth-child(171),
  :nth-child(172),
  :nth-child(173),
  :nth-child(174),
  :nth-child(175),
  :nth-child(176),
  :nth-child(177),
  :nth-child(178),
  :nth-child(179),
  :nth-child(180),
  :nth-child(181),
  :nth-child(182),
  :nth-child(183),
  :nth-child(184),
  :nth-child(185),
  :nth-child(186),
  :nth-child(187),
  :nth-child(188),
  :nth-child(189),
  :nth-child(190),
  :nth-child(191),
  :nth-child(192),
  // Left Border monitor
  :nth-child(228),
  :nth-child(298),
  :nth-child(368),
  :nth-child(438),
  :nth-child(508),
  :nth-child(578),
  :nth-child(648),
  :nth-child(718),
  :nth-child(788),
  :nth-child(858),
  :nth-child(928),
  :nth-child(998),
  :nth-child(1068),
  :nth-child(1138),
  :nth-child(1208),
  :nth-child(1278),
  :nth-child(1348),
  :nth-child(1418),
  :nth-child(1488),
  :nth-child(1558),
  :nth-child(1628),
  :nth-child(1698),
  :nth-child(1768),
  :nth-child(1838),
  // Bottom Border 
  :nth-child(1908),
  :nth-child(1909),
  :nth-child(1910),
  :nth-child(1911),
  :nth-child(1912),
  :nth-child(1913),
  :nth-child(1914),
  :nth-child(1915),
  :nth-child(1916),
  :nth-child(1917),
  :nth-child(1918),
  :nth-child(1919),
  :nth-child(1920),
  :nth-child(1921),
  :nth-child(1922),
  :nth-child(1923),
  :nth-child(1924),
  :nth-child(1925),
  :nth-child(1926),
  :nth-child(1927),
  :nth-child(1928),
  :nth-child(1929),
  :nth-child(1930),
  :nth-child(1931),
  :nth-child(1932),
  :nth-child(1933),
  :nth-child(1934),
  :nth-child(1935),
  :nth-child(1936),
  :nth-child(1937),
  :nth-child(1938),
  :nth-child(1939),
  :nth-child(1940),
  :nth-child(1941),
  :nth-child(1942),
  :nth-child(1943),
  // Right Border monitor
  :nth-child(263),
  :nth-child(333),
  :nth-child(403),
  :nth-child(473),
  :nth-child(543),
  :nth-child(613),
  :nth-child(683),
  :nth-child(753),
  :nth-child(823),
  :nth-child(893),
  :nth-child(963),
  :nth-child(1033),
  :nth-child(1103),
  :nth-child(1173),
  :nth-child(1243),
  :nth-child(1313),
  :nth-child(1383),
  :nth-child(1453),
  :nth-child(1523),
  :nth-child(1593),
  :nth-child(1663),
  :nth-child(1733),
  :nth-child(1803),
  :nth-child(1873),

  // Inner border top
  :nth-child(300),
  :nth-child(301),
  :nth-child(302),
  :nth-child(303),
  :nth-child(304),
  :nth-child(305),
  :nth-child(306),
  :nth-child(307),
  :nth-child(308),
  :nth-child(309),
  :nth-child(310),
  :nth-child(311),
  :nth-child(312),
  :nth-child(313),
  :nth-child(314),
  :nth-child(315),
  :nth-child(316),
  :nth-child(317),
  :nth-child(318),
  :nth-child(319),
  :nth-child(320),
  :nth-child(321),
  :nth-child(322),
  :nth-child(323),
  :nth-child(324),
  :nth-child(325),
  :nth-child(326),
  :nth-child(327),
  :nth-child(328),
  :nth-child(329),
  :nth-child(330),
  :nth-child(331),
  // Inner Border Left
  :nth-child(370),
  :nth-child(440),
  :nth-child(510),
  :nth-child(580),
  :nth-child(650),
  :nth-child(720),
  :nth-child(790),
  :nth-child(860),
  :nth-child(930),
  :nth-child(1000),
  :nth-child(1070),
  :nth-child(1140),
  :nth-child(1210),
  :nth-child(1280),
  :nth-child(1350),
  :nth-child(1420),
  :nth-child(1490),
  :nth-child(1560),


  // Inner Border Bottom
  :nth-child(1631),
  :nth-child(1632),
  :nth-child(1633),
  :nth-child(1634),
  :nth-child(1635),
  :nth-child(1636),
  :nth-child(1637),
  :nth-child(1638),
  :nth-child(1639),
  :nth-child(1640),
  :nth-child(1641),
  :nth-child(1642),
  :nth-child(1643),
  :nth-child(1644),
  :nth-child(1645),
  :nth-child(1646),
  :nth-child(1647),
  :nth-child(1648),
  :nth-child(1649),
  :nth-child(1650),
  :nth-child(1651),
  :nth-child(1652),
  :nth-child(1653),
  :nth-child(1654),
  :nth-child(1655),
  :nth-child(1656),
  :nth-child(1657),
  :nth-child(1658),
  :nth-child(1659),
  :nth-child(1660),

  // Inner Border Right
  :nth-child(401),
  :nth-child(471),
  :nth-child(541),
  :nth-child(611),
  :nth-child(681),
  :nth-child(751),
  :nth-child(821),
  :nth-child(891),
  :nth-child(961),
  :nth-child(1031),
  :nth-child(1101),
  :nth-child(1171),
  :nth-child(1241),
  :nth-child(1311),
  :nth-child(1381),
  :nth-child(1451),
  :nth-child(1521),
  :nth-child(1591),

  // Button monitor
  :nth-child(1869),  
  :nth-child(1871),

  // Socle monitor
  // left
  :nth-child(1990),
  :nth-child(2059),
  // right
  :nth-child(2001),
  :nth-child(2072),

  // Top Border Tower
  :nth-child(2110),
  :nth-child(2111),
  :nth-child(2112),
  :nth-child(2113),
  :nth-child(2114),
  :nth-child(2115),
  :nth-child(2116),
  :nth-child(2117),
  :nth-child(2118),
  :nth-child(2119),
  :nth-child(2120),
  :nth-child(2121),
  :nth-child(2122),
  :nth-child(2123),
  :nth-child(2124),
  :nth-child(2125),
  :nth-child(2126),
  :nth-child(2127),
  :nth-child(2128),
  :nth-child(2129),
  :nth-child(2130),
  :nth-child(2131),
  :nth-child(2132),
  :nth-child(2133),
  :nth-child(2134),
  :nth-child(2135),
  :nth-child(2136),
  :nth-child(2137),
  :nth-child(2138),
  :nth-child(2139),
  :nth-child(2140),
  :nth-child(2141),
  :nth-child(2142),
  :nth-child(2143),
  :nth-child(2144),
  :nth-child(2145),
  :nth-child(2146),
  :nth-child(2147),
  :nth-child(2148),
  :nth-child(2149),
  :nth-child(2150),
  :nth-child(2151),
  :nth-child(2152),
  :nth-child(2153),
  :nth-child(2154),
  :nth-child(2155),
  :nth-child(2156),
  :nth-child(2157),
  :nth-child(2158),
  :nth-child(2159),
  :nth-child(2160),
  :nth-child(2161),
  // Left Border Tower
  :nth-child(2180),
  :nth-child(2250),
  :nth-child(2320),
  :nth-child(2390),
  :nth-child(2460),
  :nth-child(2530),
  :nth-child(2600),
  // Right Border Tower
  :nth-child(2231),  
  :nth-child(2301), 
  :nth-child(2371), 
  :nth-child(2441), 
  :nth-child(2511),
  :nth-child(2581),
  :nth-child(2651),

  // 3D left
  :nth-child(2041) {
    background: black;
  }  
  :nth-child(1972),
  :nth-child(1973),
  :nth-child(1974),
  :nth-child(1975),
  :nth-child(1976),
  :nth-child(1977) {
    background: black;
  }
  :nth-child(1978),
  :nth-child(1979),
  :nth-child(1980),
  :nth-child(1981),
  :nth-child(1982),
  :nth-child(1983),
  :nth-child(1984),
  :nth-child(1985),
  :nth-child(1986),
  :nth-child(1987),
  :nth-child(1988),
  :nth-child(1989) {
    background: #3f3f3f;
  }
  //3D right
  :nth-child(2090) {
    background: black;
  } 
  :nth-child(2019),
  :nth-child(2018),
  :nth-child(2017),
  :nth-child(2016),
  :nth-child(2015),
  :nth-child(2014) {
    background: black;
  }
  :nth-child(2013) {
    background: #3f3f3f;
  }
  :nth-child(2012),
  :nth-child(2011),
  :nth-child(2010),
  :nth-child(2009),
  :nth-child(2008),
  :nth-child(2007),
  :nth-child(2006),
  :nth-child(2005),
  :nth-child(2004),
  :nth-child(2003),
  :nth-child(2002) {
    background: #3f3f3f;
  }
  // Shadow
  // bottom
  :nth-child(2048),
  :nth-child(2049),
  :nth-child(2050),
  :nth-child(2051),
  :nth-child(2052),
  :nth-child(2053),
  :nth-child(2054),
  :nth-child(2055),
  :nth-child(2056),
  :nth-child(2057),
  :nth-child(2058),
  :nth-child(2060),
  :nth-child(2061),
  :nth-child(2062),
  :nth-child(2063),
  :nth-child(2064),
  :nth-child(2065),
  :nth-child(2066),
  :nth-child(2067),
  :nth-child(2068),
  :nth-child(2069),
  :nth-child(2070),
  :nth-child(2071),
  :nth-child(2073),
  :nth-child(2074),
  :nth-child(2075),
  :nth-child(2076),
  :nth-child(2077),
  :nth-child(2078),
  :nth-child(2079),
  :nth-child(2080),
  :nth-child(2081),
  :nth-child(2082),
  :nth-child(2083),
  // top
  :nth-child(2000),
  :nth-child(1999),
  :nth-child(1998),
  :nth-child(1997),
  :nth-child(1996),
  :nth-child(1995),
  :nth-child(1994),
  :nth-child(1993),
  :nth-child(1992),
  :nth-child(1991) {
    background: rgb(211, 211, 211);
  }

  // Zip reader
  :nth-child(2323),  
  :nth-child(2324),
  :nth-child(2325),
  :nth-child(2326), 
  :nth-child(2327), 
  :nth-child(2328),
  :nth-child(2329),
  :nth-child(2330), 
  :nth-child(2331), 
  :nth-child(2332),
  :nth-child(2333), 
  :nth-child(2334), 
  :nth-child(2335), 
  :nth-child(2336),
  :nth-child(2338),
  // Card reader
  :nth-child(2463),   
  :nth-child(2464),
  :nth-child(2464),
  :nth-child(2465),
  :nth-child(2466),
  :nth-child(2467),
  :nth-child(2468),
  :nth-child(2469),
  :nth-child(2470),
  :nth-child(2471),
  :nth-child(2473),
  // CD reader
  // top
  :nth-child(2282),  
  :nth-child(2283),
  :nth-child(2284),
  :nth-child(2285),
  :nth-child(2286),
  :nth-child(2287),
  :nth-child(2288),
  :nth-child(2289),
  :nth-child(2290),
  :nth-child(2291),
  :nth-child(2292),
  :nth-child(2293),
  :nth-child(2294),
  :nth-child(2295),
  :nth-child(2296),
  :nth-child(2297),
  :nth-child(2298),
  //right
  :nth-child(2368),
  :nth-child(2438),
  :nth-child(2508),
  :nth-child(2578),
  // bottom
  :nth-child(2577),
  :nth-child(2576),
  :nth-child(2575),
  :nth-child(2574),
  :nth-child(2573),
  :nth-child(2572),
  :nth-child(2571),
  :nth-child(2570),
  :nth-child(2569),
  :nth-child(2568),
  :nth-child(2567),
  :nth-child(2566),
  :nth-child(2565),
  :nth-child(2564),
  :nth-child(2563),
  :nth-child(2562),
  // left
  :nth-child(2492),
  :nth-child(2422),
  :nth-child(2352),
  // button
  :nth-child(2435),  
  :nth-child(2436),
  //Border Bottom tower
  :nth-child(2671),
  :nth-child(2672),
  :nth-child(2673),
  :nth-child(2674),
  :nth-child(2675),
  :nth-child(2676),
  :nth-child(2677),
  :nth-child(2676),
  :nth-child(2677),
  :nth-child(2678),
  :nth-child(2679),
  :nth-child(2680),
  :nth-child(2681),
  :nth-child(2682),
  :nth-child(2683),
  :nth-child(2684),
  :nth-child(2685),
  :nth-child(2686),
  :nth-child(2687),
  :nth-child(2688),
  :nth-child(2689),
  :nth-child(2690),
  :nth-child(2691),
  :nth-child(2692),
  :nth-child(2693),
  :nth-child(2694),
  :nth-child(2695),
  :nth-child(2696),
  :nth-child(2697),
  :nth-child(2698),
  :nth-child(2699),
  :nth-child(2700),
  :nth-child(2701),
  :nth-child(2702),
  :nth-child(2703),
  :nth-child(2704),
  :nth-child(2705),
  :nth-child(2706),
  :nth-child(2707),
  :nth-child(2708),
  :nth-child(2709),
  :nth-child(2710),
  :nth-child(2711),
  :nth-child(2712),
  :nth-child(2713),
  :nth-child(2714),
  :nth-child(2715),
  :nth-child(2716),
  :nth-child(2717),
  :nth-child(2718),
  :nth-child(2719),
  :nth-child(2720) {
    background: black;
  }
  // Inner monitor
  // top
  :nth-child(229),
  :nth-child(230),
  :nth-child(231),
  :nth-child(232),
  :nth-child(233),
  :nth-child(234),
  :nth-child(235),
  :nth-child(236),
  :nth-child(237),
  :nth-child(238),
  :nth-child(239),
  :nth-child(240),
  :nth-child(241),
  :nth-child(242),
  :nth-child(243),
  :nth-child(244),
  :nth-child(245),
  :nth-child(246),
  :nth-child(247),
  :nth-child(248),
  :nth-child(249),
  :nth-child(250),
  :nth-child(251),
  :nth-child(252),
  :nth-child(253),
  :nth-child(254),
  :nth-child(255),
  :nth-child(256),
  :nth-child(257),
  :nth-child(258),
  :nth-child(259),
  :nth-child(260),
  :nth-child(261),
  :nth-child(262),
  // left
  :nth-child(299),
  :nth-child(369),
  :nth-child(439),
  :nth-child(509),
  :nth-child(579),
  :nth-child(649),
  :nth-child(719),
  :nth-child(789),
  :nth-child(859),
  :nth-child(929),
  :nth-child(999),
  :nth-child(1069),
  :nth-child(1139),
  :nth-child(1209),
  :nth-child(1279),
  :nth-child(1349),
  :nth-child(1419),
  :nth-child(1489),
  :nth-child(1559),
  :nth-child(1629),
  :nth-child(1630),
  :nth-child(1699),
  :nth-child(1700),
  :nth-child(1769),
  :nth-child(1770),
  :nth-child(1839),
  :nth-child(1840),
  // bottom
  // 1rst line
  :nth-child(1701),
  :nth-child(1702),
  :nth-child(1703),
  :nth-child(1704),
  :nth-child(1705),
  :nth-child(1706),
  :nth-child(1707),
  :nth-child(1708),
  :nth-child(1709),
  :nth-child(1710),
  :nth-child(1711),
  :nth-child(1712),
  :nth-child(1713),
  :nth-child(1714),
  :nth-child(1715),
  :nth-child(1716),
  :nth-child(1717),
  :nth-child(1718),
  :nth-child(1719),
  :nth-child(1720),
  :nth-child(1721),
  :nth-child(1722),
  :nth-child(1723),
  :nth-child(1724),
  :nth-child(1725),
  :nth-child(1726),
  :nth-child(1727),
  :nth-child(1728),
  :nth-child(1729),
  :nth-child(1730),
  :nth-child(1731),
  :nth-child(1732),
  // 2nd line
  :nth-child(1771),
  :nth-child(1772),
  :nth-child(1773),
  :nth-child(1774),
  :nth-child(1775),
  :nth-child(1776),
  :nth-child(1777),
  :nth-child(1778),
  :nth-child(1779),
  :nth-child(1780),
  :nth-child(1781),
  :nth-child(1782),
  :nth-child(1783),
  :nth-child(1784),
  :nth-child(1785),
  :nth-child(1786),
  :nth-child(1787),
  :nth-child(1788),
  :nth-child(1789),
  :nth-child(1790),
  :nth-child(1791),
  :nth-child(1792),
  :nth-child(1793),
  :nth-child(1794),
  :nth-child(1795),
  :nth-child(1796),
  :nth-child(1797),
  :nth-child(1798),
  :nth-child(1799),
  :nth-child(1800),
  :nth-child(1801),
  :nth-child(1802),
  // 3rd line
  :nth-child(1841),
  :nth-child(1842),
  :nth-child(1843),
  :nth-child(1844),
  :nth-child(1845),
  :nth-child(1846),
  :nth-child(1847),
  :nth-child(1848),
  :nth-child(1849),
  :nth-child(1850),
  :nth-child(1851),
  :nth-child(1852),
  :nth-child(1853),
  :nth-child(1854),
  :nth-child(1855),
  :nth-child(1856),
  :nth-child(1857),
  :nth-child(1858),
  :nth-child(1859),
  :nth-child(1860),
  :nth-child(1861),
  :nth-child(1862),
  :nth-child(1863),
  :nth-child(1864),
  :nth-child(1865),
  :nth-child(1866),
  :nth-child(1867),
  :nth-child(1868),
  :nth-child(1870),
  :nth-child(1872),
  // right
  :nth-child(332),
  :nth-child(402),
  :nth-child(472),
  :nth-child(542),
  :nth-child(612),
  :nth-child(682),
  :nth-child(752),
  :nth-child(822),
  :nth-child(892),
  :nth-child(962),
  :nth-child(1032),
  :nth-child(1102),
  :nth-child(1172),
  :nth-child(1242),
  :nth-child(1312),
  :nth-child(1382),
  :nth-child(1452),
  :nth-child(1522),
  :nth-child(1592),
  :nth-child(1662),
  :nth-child(1661),

  //Inner tower
  // top
  :nth-child(2042),
  :nth-child(2043),
  :nth-child(2044),
  :nth-child(2045),
  :nth-child(2046),
  :nth-child(2047),
  :nth-child(2084),
  :nth-child(2085),
  :nth-child(2086),
  :nth-child(2087),
  :nth-child(2088),
  :nth-child(2089),
  // middle
  // 1st line
  :nth-child(2181),
  :nth-child(2182),
  :nth-child(2183),
  :nth-child(2184),
  :nth-child(2185),
  :nth-child(2186),
  :nth-child(2187),
  :nth-child(2188),
  :nth-child(2189),
  :nth-child(2190),
  :nth-child(2191),
  :nth-child(2192),
  :nth-child(2193),
  :nth-child(2194),
  :nth-child(2195),
  :nth-child(2196),
  :nth-child(2197),
  :nth-child(2198),
  :nth-child(2199),
  :nth-child(2200),
  :nth-child(2201),
  :nth-child(2202),
  :nth-child(2203),
  :nth-child(2204),
  :nth-child(2205),
  :nth-child(2206),
  :nth-child(2207),
  :nth-child(2208),
  :nth-child(2209),
  :nth-child(2210),
  :nth-child(2211),
  :nth-child(2212),
  :nth-child(2213),
  :nth-child(2214),
  :nth-child(2215),
  :nth-child(2216),
  :nth-child(2217),
  :nth-child(2218),
  :nth-child(2219),
  :nth-child(2220),
  :nth-child(2221),
  :nth-child(2222),
  :nth-child(2223),
  :nth-child(2224),
  :nth-child(2225),
  :nth-child(2226),
  :nth-child(2227),
  :nth-child(2228),
  :nth-child(2229),
  :nth-child(2230),
  // 2nd line
  :nth-child(2251),
  :nth-child(2252),
  :nth-child(2253),
  :nth-child(2254),
  :nth-child(2255),
  :nth-child(2256),
  :nth-child(2257),
  :nth-child(2258),
  :nth-child(2259),
  :nth-child(2260),
  :nth-child(2261),
  :nth-child(2262),
  :nth-child(2263),
  :nth-child(2264),
  :nth-child(2265),
  :nth-child(2266),
  :nth-child(2267),
  :nth-child(2268),
  :nth-child(2269),
  :nth-child(2270),
  :nth-child(2271),
  :nth-child(2272),
  :nth-child(2273),
  :nth-child(2274),
  :nth-child(2275),
  :nth-child(2276),
  :nth-child(2277),
  :nth-child(2278),
  :nth-child(2279),
  :nth-child(2280),
  :nth-child(2281),
  :nth-child(2299),
  :nth-child(2300),
  // 3rd line
  :nth-child(2321),
  :nth-child(2322),
  :nth-child(2337),
  :nth-child(2339),
  :nth-child(2340),
  :nth-child(2341),
  :nth-child(2342),
  :nth-child(2343),
  :nth-child(2344),
  :nth-child(2345),
  :nth-child(2346),
  :nth-child(2347),
  :nth-child(2348),
  :nth-child(2349),
  :nth-child(2350),
  :nth-child(2351),
  :nth-child(2353),
  :nth-child(2354),
  :nth-child(2355),
  :nth-child(2356),
  :nth-child(2357),
  :nth-child(2358),
  :nth-child(2359),
  :nth-child(2360),
  :nth-child(2361),
  :nth-child(2362),
  :nth-child(2363),
  :nth-child(2364),
  :nth-child(2365),
  :nth-child(2366),
  :nth-child(2367),
  :nth-child(2369),
  :nth-child(2370),
  // 4th line
  :nth-child(2391),
  :nth-child(2392),
  :nth-child(2393),
  :nth-child(2394),
  :nth-child(2395),
  :nth-child(2396),
  :nth-child(2397),
  :nth-child(2398),
  :nth-child(2399),
  :nth-child(2400),
  :nth-child(2401),
  :nth-child(2402),
  :nth-child(2403),
  :nth-child(2404),
  :nth-child(2405),
  :nth-child(2406),
  :nth-child(2407),
  :nth-child(2408),
  :nth-child(2409),
  :nth-child(2410),
  :nth-child(2411),
  :nth-child(2412),
  :nth-child(2413),
  :nth-child(2414),
  :nth-child(2415),
  :nth-child(2416),
  :nth-child(2417),
  :nth-child(2418),
  :nth-child(2419),
  :nth-child(2420),
  :nth-child(2421),
  :nth-child(2423),
  :nth-child(2424),
  :nth-child(2425),
  :nth-child(2426),
  :nth-child(2427),
  :nth-child(2428),
  :nth-child(2429),
  :nth-child(2430),
  :nth-child(2431),
  :nth-child(2432),
  :nth-child(2433),
  :nth-child(2434),
  :nth-child(2437),
  :nth-child(2439),
  :nth-child(2440),
  // 5th line
  :nth-child(2461),
  :nth-child(2462),
  :nth-child(2472),
  :nth-child(2474),
  :nth-child(2475),
  :nth-child(2476),
  :nth-child(2477),
  :nth-child(2478),
  :nth-child(2479),
  :nth-child(2480),
  :nth-child(2481),
  :nth-child(2482),
  :nth-child(2483),
  :nth-child(2484),
  :nth-child(2485),
  :nth-child(2486),
  :nth-child(2487),
  :nth-child(2488),
  :nth-child(2489),
  :nth-child(2490),
  :nth-child(2491),
  :nth-child(2493),
  :nth-child(2494),
  :nth-child(2495),
  :nth-child(2496),
  :nth-child(2497),
  :nth-child(2498),
  :nth-child(2499),
  :nth-child(2500),
  :nth-child(2501),
  :nth-child(2502),
  :nth-child(2503),
  :nth-child(2504),
  :nth-child(2505),
  :nth-child(2506),
  :nth-child(2507),
  :nth-child(2509),
  :nth-child(2510),
  // 6th line
  :nth-child(2531),
  :nth-child(2532),
  :nth-child(2533),
  :nth-child(2534),
  :nth-child(2535),
  :nth-child(2536),
  :nth-child(2537),
  :nth-child(2538),
  :nth-child(2539),
  :nth-child(2540),
  :nth-child(2541),
  :nth-child(2542),
  :nth-child(2543),
  :nth-child(2544),
  :nth-child(2545),
  :nth-child(2546),
  :nth-child(2547),
  :nth-child(2548),
  :nth-child(2549),
  :nth-child(2550),
  :nth-child(2551),
  :nth-child(2552),
  :nth-child(2553),
  :nth-child(2554),
  :nth-child(2555),
  :nth-child(2556),
  :nth-child(2557),
  :nth-child(2558),
  :nth-child(2559),
  :nth-child(2560), 
  :nth-child(2561),
  :nth-child(2579),
  :nth-child(2580),
  // 7th line
  :nth-child(2601),
  :nth-child(2602),
  :nth-child(2603),
  :nth-child(2604),
  :nth-child(2605),
  :nth-child(2606),
  :nth-child(2607),
  :nth-child(2608),
  :nth-child(2609),
  :nth-child(2610),
  :nth-child(2611),
  :nth-child(2612),
  :nth-child(2613),
  :nth-child(2614),
  :nth-child(2615),
  :nth-child(2616),
  :nth-child(2617),
  :nth-child(2618),
  :nth-child(2619),
  :nth-child(2620),
  :nth-child(2621),
  :nth-child(2622),
  :nth-child(2623),
  :nth-child(2624),
  :nth-child(2625),
  :nth-child(2626),
  :nth-child(2627),
  :nth-child(2628),
  :nth-child(2629),
  :nth-child(2630),
  :nth-child(2631),
  :nth-child(2632),
  :nth-child(2633),
  :nth-child(2634),
  :nth-child(2635),
  :nth-child(2636),
  :nth-child(2637),
  :nth-child(2638),
  :nth-child(2639),
  :nth-child(2640),
  :nth-child(2641),
  :nth-child(2642),
  :nth-child(2643),
  :nth-child(2644),
  :nth-child(2645),
  :nth-child(2646),
  :nth-child(2647),
  :nth-child(2648),   
  :nth-child(2649),
  :nth-child(2650), {
    background: white;
  }



}

















